<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.JS Tutorial</title>

    <!-- Bootstrap CSS -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
  </head>

  <body>
    <div id="app">
      <div class="wrapper">

        <nav>
          <span class="far fa-envelope"></span><span class="logo primary-color">mailmate</span>
        </nav>

        <div class="row">
          <div class="tabs">

                <div class="tab col m3">
                  <button id="1" class="btn primary-color z-depth-0 single-tab" v-on:click="showTab" type="button" name="button">Contacts</button>
                </div>

                <div class="tab col m3">
                  <button id="2" class="btn primary-color z-depth-0 single-tab" v-on:click="showTab" type="button" name="button">Documents</button>
                </div>

                <div class="tab col m3">
                  <button id="3" class="btn primary-color z-depth-0 single-tab" v-on:click="showTab" type="button" name="button">Send</button>
                </div>

                <div class="tab col m3">
                  <button id="4" class="btn primary-color z-depth-0 single-tab" v-on:click="showTab" type="button" name="button">History</button>
                </div>

          </div>
        </div>

        <div class="tab-wrapper">

          <div id="tab1" class="tab-1 tab-view">

            <iframe
              v-bind
              width="100%"
              height="350"
              frameborder="0" style="border:0"
              v-bind:src="currentMapLocation" allowfullscreen>
            </iframe>

            <div class="row">
              <div class="col m6">
                <h5 class="secondary-text">Upload Contacts</h5>

                <form class="upload-contact-form" method="post">
                  <input v-model="newContact.contactName" type="text" class="input-field" name="name" value="" placeholder="Contact Name">
                  <input v-model="newContact.streetAddress" type="text" class="input-field" name="street" value="" placeholder="Street Address">
                  <input v-model="newContact.street2" type="text" class="input-field" name="street2" value="" placeholder="Street 2 (optional)">
                  <input v-model="newContact.city" type="text" class="input-field" name="city" value="" placeholder="City">
                  <input v-model="newContact.state" type="text" class="input-field" name="state" value="" placeholder="State">
                  <input v-model="newContact.zip" type="text" class="input-field" name="zip" value="" placeholder="ZIP">
                  <button v-on:click="addNewContact" class="btn" type="submit" name="button">Add Contact</button>
                </form>
              </div>
              <div class="col m6">
                <h5 class="secondary-text">My Contacts</h5>
                <ul class="collection contact-document-list">
                  <div class="" v-for="contact in loadedContacts">
                    <li class="collection-item">
                      <span class="title contact-name secondary-text" v-on:click="contactClicked">{{contact.contactName}}</span>
                      <a href="#"><p v-on:click="setMapLocation">{{contact.streetAddress}} {{contact.street2}}, {{contact.city}}, {{contact.zip}}</p></a>
                    </li>
                    <span class="divider"></span>
                  </div>

                </ul>
              </div>
            </div>
          </div>
          <div id="tab2" class="tab-2 tab-view">
            <div class="row">
              <div class="col m8">
                <h5 class="secondary-text">Create Document</h5>
                <input v-model="newDocument.title" class="create-document-title-input" type="text" name="" value="" placeholder="Document Title"/>
                <textarea v-model="newDocument.content" class="create-document-textarea" placeholder="Document content">

                </textarea>
                <button v-on:click="addNewDocument" class="btn" type="submit" name="button">Add Document Template</button>
              </div>
              <div class="col m4">
                <h5 class="secondary-text">My Documents</h5>
                <ul class="collection contact-document-list">
                  <div class="" v-for="document in loadedDocuments">
                    <li class="collection-item" v-on:click="contactClicked">
                      <span class="title contact-name">{{document.title}}</span>
                      <p>{{document.content.slice(0,50) + '...'}}</p>
                    </li>
                    <span class="divider"></span>
                  </div>

                </ul>
              </div>
            </div>
          </div>
          <div id="tab3" class="tab-3 tab-view">
            Tab 3
          </div>
          <div id="tab4" class="tab-4 tab-view">
            Tab 4
          </div>

        </div>

      </div>
    </div>
  </body>
  <footer>
    Copyright 2018, Mailmate Ⓒ
  </footer>

  <!-- pull in vue.js -->
  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>

  <!-- insert model.js -->
  <script src="./model.js"></script>
</html>
