@import url('https://fonts.googleapis.com/css?family=Quicksand');

nav {
  background-color: #F7F7F7;
  text-align: center;
}
body {
  background-color: #FFFFFF;
}
button {
  width:90%;
}
hr {
  height:1px
}
.input-field {
  border-bottom:
}
.btn {
  background-color: Transparent;
  border: 2px #2196F3 solid;
  border-radius: 5px;
  min-height:40px;
  color:#2196F3;
}
.btn:hover {
  background-color: #2196F3;
  color:white
}
.btn:focus {
  background-color: #2196F3;
  color:white
}
.row {
  margin:10px;
}
.logo {
  font-size: 30px;
  font-weight: bold;
  font-family: Quicksand;
  margin-left:5px;
}
.fa-envelope {
  font-size: 23px;
  color:#2196F3;
  margin-right: 0;
}
.fa-edit {
  font-size: 25px;
}
.fa-trash-alt {
  font-size: 25px;
}


.wrapper {
  text-align: center;
}
.tab-wrapper {
  border: 2px #2196F3 solid;
  border-radius: 5px;
  margin:0 25px;
  min-height: 90vh;
  margin-bottom:30px;
}
.tabs {
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom:0px;
}
.tab-view {
  display:none;
}
.primary-color {
  color: #2196F3;
}
.dark-primary-color {
  color: #1976D2;
}
.light-primary-color {
  color: #BBDEFB;
}
.accent-color {
  color:#009688;
}
.primary-text {
  color: #212121;
}
.secondary-text {
  color: #757575;
}
.text-icons {
  color: #FFFFFF;
}
.divider {
  color: #BDBDBD;
}
.collection {
  text-align:left;
  overflow-y: scroll;
  height:370px;
}
.contact-name {
  font-size: 20px;
}
.upload-contact-form {
  max-width: 90%
}
.create-document-title-input {
  max-width:90%;
}
.create-document-textarea {
  background-color: white;
  border-radius: 0px;
  width:90%;
  min-height:40vh;
  padding:75px 75px;
}
.contact-document-list {
  margin-top:30px;
}
.tab-active {
  background-color: #2196F3;
  color:white;
}
footer {
  height:60px;
  background-color: #2196F3;
  padding:20px 30px;
  color:white;
  font-size: 17px;
}
.document-grid-single {
  resize: none;
  padding: 30px 25px;
  font-size: 8px;
  margin:40px 40px;
  width: 2.125in;
  height:2.75in;
  box-shadow: 4px 4px 10px 1px silver;
  background-color: white;
  float:left;
  display: block;
  border-radius:4px;
  border:#f2f2f2;
}
.document-grid-single:hover {
  border: 3px #2196F3 solid;
  cursor: pointer;
}
.document-carousel {
  background-color: #F8F8F8;
  padding:0px 25px;
  height: 350px;
  overflow: scroll;
}
